<div class="container">
  <div class="jumbotron">
    <button (click)="editRecipe()" type="button" name="edit">Edit this recipie</button>
    <div id="edit" *ngIf="display">
      <form class="" action="index.html" method="post">
        <input [(ngModel)]="recipeToEdit.title" [value]="recipeToEdit.title" type="text" name="title">
        <ul *ngFor="let ingredient of recipeToEdit.ingredients; index as i">
          <li>
            <input [(ngModel)]="recipeToEdit.ingredients[i]"  type="text" name="ingredient">
          </li>
        </ul>
        <textarea [(ngModel)]="recipeToEdit.direction" name="direction" rows="5" cols="80" [value]="recipeToEdit.direction"></textarea>
        <button type="submit" name="button" *ngIf="display" (click)="setRecipe()">Done</button>
      </form>
    </div>
  </div>
</div>
